.btn-yellow {
	background-color: #FFDC82;
	padding: 15px 20px;
	border-radius: 4px;
	color: #106A91;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-yellow:hover {
	background-color: #106A91;
	color: #FFDC82;
}